@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital@0;1&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Libre+Franklin:ital@0;1&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors */
  /* ### Primary */
  --Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);
  --white: hsl(0, 0%, 100%);

  /* font family */
  --primary-font: "Poppins";
  --secondary-font: "Open Sans";

  /* fonst sizes */
  font-size: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  /* font weigths */
  --font-thin: 100;
  --font-extralight: 200;
  --font-ligth: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: var(--font-regular);
  font-family: var(--primary-font);
  font-size: var(--text-base);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--Violet);
  margin: 0 2rem;
}

img {
  display: block;
}

.bg-mobile {
  width: 100%;
  position: absolute;
  top: 0;
}
.bg-desktop {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  max-width: 1300px;
  padding: 2.5rem 0;
  z-index: 10;

  & > div {
    display: flex;
    flex-direction: column;
  }
  & .main__header {
    gap: 3.5rem;
    & .main__logo {
      width: 8rem;
    }
    & .main__mockup {
      width: 100%;
    }
  }
  & .main__content {
    gap: 1rem;
    text-align: center;

    & h1 {
      color: var(--white);
      font-weight: var(--font-semibold);
      font-size: var(--text-2xl);
      text-wrap: balance;
    }
    & p {
      color: var(--white);
      font-family: var(--secondary-font);
      text-wrap: pretty;
    }
    & button {
      margin-top: 1rem;
      align-self: center;
      border: none;
      font-size: var(--text-sm);
      background: var(--white);
      color: var(--Violet);
      padding: 1em;
      border-radius: 2rem;
      width: 15rem;
      box-shadow: 0px 7px 5px hsla(0, 0%, 0%, 0.2);
      
      cursor: pointer;
      &:hover {
        background: var(--SoftMagenta);
        color: var(--white);
      }
    }
    & .icons {
      margin-top: 2rem;
      align-self: center;
      display: flex;
      gap: 1rem;

      & img {
        width: 2rem;
        height: 2rem;
        border-radius: 2rem;
        border: 1px solid var(--white);
        padding: 0.45rem;
      }
    }
  }
}

@media (min-width: 1023px) {
  .bg-mobile {
    display: none;
  }
  .bg-desktop {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    display: block;
  }
  .main {
    flex-direction: row;

    & .main__header .main__logo {
      width: 11rem;
    }
    & .main__header {
      flex: 1.4;
    }
    & .main__content {
      flex: 1;
      padding-top: 8.5rem;
      text-align: start;

      & h1 {
        font-size: var(--text-4xl);
      }
      & p {
        font-size: var(--text-lg);
      }

      button {
        font-size: var(--text-base);
        width: 12rem;
        align-self: start;
      }

      & .icons {
        align-self: flex-end;
        margin-top: auto;
      }
    }
  }
}
