@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* colors */
  /* ### Primary */
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  /* ### Neutral */
  --DarkGrayishRed: hsl(0, 6%, 24%);

  /* font family */
  --primary-font: "Josefin Sans";

  /* fonst sizes */
  font-size: 16px;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 30px;
  --text-4xl: 36px;
  --text-5xl: 48px;
  --text-6xl: 60px;
  --text-7xl: 72px;
  --text-8xl: 96px;
  --text-9xl: 128px;

  /* font weigths */
  --font-thin: 100;
  --font-extralight: 200;
  --font-ligth: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-extrabold: 800;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-size: var(--text-base);
  font-weight: var(--font-regular);
  font-family: var(--primary-font);

  /* border: 1px solid black; */
}

body {
  min-height: 100vh;
  display: grid;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 1fr;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.card__logo {
  align-self: center;
  padding: 0rem 2rem;
}
.card__profile {
  display: block;
  width: 100%;
}
.card__porfile-desktop {
  display: none;
}
/* styles content */
.card__content {
  align-self: start;
  display: grid;
  grid-template-columns: auto;
  gap: 1.5rem;
  padding: 3rem 2rem;
}
.card__content h1 {
  text-align: center;
  font-weight: var(--font-medium);
  font-size: var(--text-4xl);
  color: var(--DarkGrayishRed);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
.card__content > span {
  font-size: var(--text-4xl);
  font-weight: var(--font-ligth);
  color: var(--DesaturatedRed);
}
.card__content p {
  color: var(--DesaturatedRed);
  text-align: center;
  line-height: 1.5;
}

/* styles for input and button */
.card__containInput {
  position: relative;
}
.card__containInput input {
  padding: 1rem 1.5rem;
  padding-right: 5rem;
  border-radius: 3rem;
  width: 100%;
  background: transparent;
  border: 1px solid hsla(0, 36%, 70%, 0.5);
}
.card__containInput input::placeholder {
  color: hsla(0, 36%, 70%, 0.5);
}
.card__containInput button {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  width: 70px;
  border-radius: 2rem;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
.card__containInput button:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* styles for error input  */
.card__containInput__error {
  display: none; /* desde js */
  position: absolute;
  right: 5rem;
  height: 100%;
  padding: 0.8rem 0;
}
.message-form {
  display: none; /* desde js */
  position: absolute;
  bottom: -1.6rem;
  left: 0;
  font-size: var(--text-sm);
  color: var(--SoftRed);
  padding: 0 1.5rem;
}

@media (min-width: 767px) {
  .card {
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 100px 1fr;
  }
  .card__profile {
    display: none;
  }
  .card__porfile-desktop {
    display: block;
    background-image: url("./images/hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 2;
    grid-row: 1 / -1;
  }
  .card__content {
    grid-row: 2/ -1;
    max-width: 600px;
    justify-self: center;
    gap: 2.5rem;
    align-self: center;
  }
  .card__content h1,
  .card__content > span {
    font-size: var(--text-6xl);
    text-align: start;
  }
  .card__content p {
    text-align: start;
  }
}
